
{
    "reader": 
    {
        "sheet1": "C5,C6,C7,C8",
        "sheet2": "C5,C6,C7,C9",
        "sheet3": "C5,C6,C7,C8",
        "sheet4": "C5,C6,C7,C9",
        "sheet5": "C5,C6,C7,C8",
        "sheet6": "C5,C6,C7,C9",
        "sheet7": "C5,C6,C7,C8",
        "sheet8": "C5,C6,C7,C9",
        "sheet9": "C5,C6,C7,C8",
        "sheet10": "C5,C6,C7,C9",
        "sheet11": "C5,C6,C7,C8",
        "sheet12": "C5,C6,C7,C9",
        "sheet13": "C5,C6,C7,C8",
        "sheet14": "C5,C6,C7,C9",
        "sheet15": "C5,C6,C7,C8",
        "sheet16": "C5,C6,C7,C9"
    },
    "validator": 
    {
        "sheet1": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet2": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet3": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet4": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet5": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet6": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet7": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet8": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet9": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet10": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet11": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet12": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet13": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet14": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet15": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet16": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        }
    }
}