
{
    "reader": 
    {
        "sheet1": "C5,C6,C8,C9,C10,D5,D6,D7,D8,D9,D10",
        "sheet2": "C5,C6,C7,C8,C9,C10,D5,D6,D7,D8,D9,D10"
    },
    "validator": 
    {
        "sheet1": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        },
        "sheet2": 
        {
            "C5": "C6",
            "C10": "C5+C8+C9",
            "D5": "D6+D7",
            "D10": "D5+D8+D9"
        }
    }
}